/* https://www.awwwards.com/sites/greensight
minimalist template that we can maybe use */
body {
  font-size:100%;
}

h1{
  color:red;
}

.list_item{
 color:white;
}


/* for hover property */
@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
p{
  border: 0.1em solid black;
}
p:hover{
  color: #eb4034;
  animation: bounce 1s;
}

/* .cpr-container{
  background: green;
  color: white;
  font-family: 'Mochiy Pop P One', sans-serif;
  margin: 0;
  padding: 0;
  text-indent: 10px;
} */

.left{
  background: ivory;
  position: fixed;
  width: 40%;
}

.vertical {
  border-left: 1px solid black;
  min-height: 1100px;
  position:absolute;
  left: 40%;
}

.right{
  background: ivory;
  padding-left: 40%;
  text-indent: 10px;
}

.left h1{
  left: 0;
  line-height: 50px;
  margin-top: 200px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  font-size: 50px;
  color: black;
}

.left a{
  font-size: 50px;
}

h2.mix{
  border-style: none none solid none;
  border-width: 1px;
}

ol.mix{
  border-style: none none solid none;
  border-width: 1px;
}

.mental-health-container{
  background: green;
  color: white;
  
}

.mental-health-container h1 {
  color: white;
}

.mental-health-container h2{
  color: white;
  font-size: 20px;
}
.mental-health-container a{
  color: white;
  font-size: 20px;
}

/* Home page styles */
.container-fluid{
  text-align: center;
  background: blue;
  color: white;
  border: 0.25em solid #eb4034;
  font-size:1.5em;
  font-family: 'Mochiy Pop P One', sans-serif;
}

.row{
  height: 100px;
  border: 0.1em solid green;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #EEF5DB;
}

.navbar navbar-expand-lg navbar-light bg-warning {
  text-align: center;
}

#navbarSupportedContent {
  text-align: center;
}

